<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" type="text/css" >
    </head>
    <body>
        <form action="agregar" class="form" method ="POST" >
          <h2>FORMULARIO</h2>
          <p type="Nombre:"><input name="nombre" placeholder="Escribe tu nombre" required></input></p>
          <p type="Email:"><input name="correo" placeholder="Escribe tu E-mail" required></input></p>
          <p type="Ciudad"><input name="ciudad" placeholder="Donde vives" required></input></p>
          <input type="submit" value="enviar">
        </form>
    </body>
</html>
